* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url(./assets/fundo-preto-degrade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}



.div-nav {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: -20%;
    transition: 1.8s ease;
}

.div-nav:hover {
    margin-right: 0;
    box-shadow: 1px 1px 100px #FFFFFF;
    transition: 1.8s ease;
}

.arrow {
    position: fixed;
    right: 1%;
    top: 45%;
    opacity: 0;
    color: #FFFFFF;
    font-size: 50px;
    animation: animate 1.5s linear infinite;
    z-index: -1;
}


@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}


.div-nav-1 {
    width: 20px;
    height: 100vh;
    background-image: url(./assets/fundo-aba.jpg);
    background-size: 2.2vw 100vh;
    background-repeat: no-repeat;
    cursor: pointer;
}


nav {
    width: 20vw;
    background-image: url(./assets/fundo-metal-perfurado.jpg);
    background-size: 30vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.button-nav {
    background-image: url(./assets/fundo-metalico.jpg);
    background-size: 15vw 100vh;
    background-repeat: no-repeat;
    border: none;
    width: 70%;
    padding: 15px 0;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 8px 8px 5px #000000;
    border-radius: 5px;
    transition: 0.3s ease;
}

.button-nav:hover {
    box-shadow: 4px 4px 5px #000000;
}

.button-nav:active {
    color: #2793eb;
    box-shadow: none;
}







.section-1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    margin-left: 5%;
}

.name {
    font-size: 80px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.span-bonoto {
    font-size: 76px;
    color: transparent;
    -webkit-text-stroke: 3px #2793eb;
    text-shadow: -1px -1px 100px #2793eb;
}

.profession {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 400;
}

.logo {
    height: 75px;
    width: 75px;
    margin-right: 10px;
    box-shadow: 1px 1px 10px #2793eb;
    border-radius: 8px;
    z-index: -1;
}

.img-computer {
    position: absolute;
    left: 30%;
    top: -28%;
    height: 130%;
    z-index: -1;
    opacity: 0.08;
}








.section-2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.line-top {
    width: 60%;
    height: 10px;
    background-color: #2793eb;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 20px;
}

.div-section-2 {
    min-height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 7%;
    margin-left: 5%;
}

.div-section-2-1 {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.title-quem-sou-eu {
    font-size: 28px;
    font-weight: 400;
    color: #2793eb;
}

.p-quem-sou-eu {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 20px;
}

.img-pitter {
    width: 300px;
    border-radius: 200px;
    box-shadow: 1px 1px 40px #FFFFFF;
}

.line-bottom {
    width: 60%;
    height: 10px;
    background-color: #2793eb;
    border-radius: 20px;
    margin: 0 0 100px -5px;
}






.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    margin-top: 100px;
}

.nav-project {
    width: 81vw;
    display: flex;
    justify-content: space-between;
}

.button-project {
    width: 120px;
    font-size: 20px;
    background-color: #FFFFFF11;
    border: none;
    border-radius: 10px;
    padding: 5px 0;
    cursor: pointer;
    color: #FFFFFF;
}

.button-project:hover {
    box-shadow: 1px 1px 30px #FFFFFF;
    transition: 1s ease;
}


.title-section-3 {
    color: #2793eb;
    font-size: 50px;
    text-align: center;
}

.span-title-section-3 {
    color: #FFFFFF;
    font-size: 35px;
    letter-spacing: 3px;
}

.div-section-3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div-section-3-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF11;
    width: 200px;
    padding: 10px 0;
    border-radius: 20px;
}

.project:hover {
    box-shadow: 1px 1px 30px #FFFFFF;
    transition: 1s ease;
}

.img-project {
    height: 170px;
    width: 85%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.title-project {
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    height: 50px;
    font-size: 20px;

}

.line-project {
    background-color: #2793eb;
    width: 70%;
    height: 4px;
    margin: 10px 0;
    border-radius: 3px;
}

.p-project {
    width: 90%;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.tecnology-project {
    display: flex;
    gap: 5px;
    margin: 20px 0;
}

.p-tecnology-project {
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

.link-project {
    text-decoration: none;
    color: #FFFFFF;
}

.link-project:hover {
    color: #2793eb;
}

.link-project:active {
    opacity: 0.5;
}






.section-4 {
    min-height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 200px;
}

.div-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact {
    width: 50vw;
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

}

.contact:hover {
    color: #2793eb;
    font-size: 40px;
}

.contact:active {
    opacity: 0.5;
}

.icon {
    width: 50px;
    margin-right: 10px;
}

.my-form {
    width: 350px;
    height: 500px;
    margin-right: 100px;
}

.title-form {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

label {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

input {
    display: block;
    margin: 5px 0 15px 0;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF11;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    padding: 8px;
}

textarea {
    display: block;
    margin: 5px 0 5px 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF11;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    padding: 8px;
}


.send {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #2793eb;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
}

.send:hover {
    opacity: 0.7;
}

.send:active {
    opacity: 0.4;
}